/*
1. Reset
2. Style globalne
3. Typografia
4. Kompomenty
5. Naglowek
6. Style glownych sekcji
7. Stopka
*/

/*
1. Reset
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
2. Style globalne
*/
body {
	background-color: #F4F3EF;
	color: #62615C;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

section {
	text-align: center;
	padding: 0 10%;
}

img {
	max-width: 100%;
}

/*
3. Typografia
*/
p {
	font-size: 14px;
	line-height: 1.6;
}

@media screen and (min-width: 1024px) {
	p {
		font-size: 18px;
	}
}

/*
4. Komponenty
*/
.section-header {
	padding: 42px 0 20px;
	font-size: 18px;
	color: #FF5733;
}

@media screen and (min-width: 1024px) {
	.section-header {
		padding: 0;
	}
}


/*
5. Naglowek
*/
header {
	text-align: center;
}

.logo-bar {
	background-color: #FF5733;
	padding: 10px 0;
}

@media screen and (min-width: 1024px) {
	.logo-bar {
		padding: 20px 0;
	}
}

.logo-bar img {
	max-width: 20%;
}

.top {
	padding: 75px 0 40px;
	color: #FFFFFF;
	font-family: 'Source Serif Pro', serif;
	background: url('images/header_photo_small.jpg') 0 0;
	background-size: cover;
}

@media screen and (min-width: 1024px) {
	.top {
		background: url('images/header_photo_big.jpg') 0 0;
		padding: 290px 0 180px;
		background-size: cover;
	}
}

.top h1 {
	margin-bottom: 8px;
	font-size: 36px;
	font-weight: 700;
}

@media screen and (min-width: 1024px) {
	.top h1 {
		margin-bottom: 80px;
		font-size: 160px;
	}
}

.top p {
	font-size: 14px;
	line-height: 1.4;
}

@media screen and (min-width: 1024px) {
	.top p {
		font-size: 54px;
	}
}

.top a {
	display: inline-block;
	margin: 20px 0 0;
	padding: 10px 24px;
	color: #FFFFFF;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	border: 1px solid #FFFFFF;
	border-radius: 3px;
}

@media screen and (min-width: 1024px) {
	.top a {
		margin: 60px 0 0;
		padding: 20px 60px;
		font-size: 24px;
	}
}

.top a:hover {
	background-color: #FFFFFF;
	color: #4C4731;
}

nav {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 0 #DEDEDE;
}

nav li {
	padding: 15px 0;
}


@media screen and (min-width: 1024px) {
	nav li {
		display: inline-block;
		padding: 60px;
	}
}

nav a {
	color: #62615C;
	font-size: 12px;
}

@media screen and (min-width: 1024px) {
	nav a {
		font-size: 24px;
	}
}

/*
6. Style glownych sekcji
*/
@media screen and (min-width: 1024px) {
	.section-welcome h1 {
		margin: 160px 0 70px;
		font-size: 70px;
	}
	.section-best-meals h1 {
		margin: 25px 0 50px;
		font-size: 34px;
	}	
}

.welcome-first-image {
	display: none;
}

@media screen and (min-width: 1024px) {
	.welcome-first-image {
		display: inline-block;
	}	
}

.section-best-meals {
	padding: 0 10% 60px;
}

@media screen and (min-width: 1024px) {
	.section-best-meals {
		padding: 0 10% 90px;
	}	
}

.section-best-meals img {
	padding: 20px 0 0;
	max-width: 20%;
}

@media screen and (min-width: 1024px) {
	.section-best-meals img {
		padding: 85px 0 0;
	}
}

.section-offer {
	padding: 40px 10% 50px;
	background: url('images/desen_tlo.jpg') 0 0;
}

@media screen and (min-width: 1024px) {
	.section-offer {
		padding: 80px 20% 130px;
	}	
}

.section-offer-single img {
	margin: 0 0 30px;
	max-width: 12%;
} 

.section-offer-single p {
	color: #FFFFFF;
}

.section-offer-single:first-child {
	margin: 0 0 30px;
}

@media screen and (min-width: 1024px) {
	.section-offer-single:first-child {
		margin: 0 0 80px;
	}
}

.section-newsletter {
	background-color: #EFEEE9;
	padding: 47px 0 26px;
} 

@media screen and (min-width: 1024px) {
	.section-newsletter {
		padding: 150px 0 26px;
	} 	
}

.section-newsletter h2 {
	margin: 0 0 24px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #A7A79B;
}

@media screen and (min-width: 1024px) {
	.section-newsletter h2 {
		font-size: 24px;
	}
}

.section-newsletter form {
	margin: 0 0 40px;
}

.section-newsletter input {
	display: block;
	width: 60%;
	border: 1px solid #D2CFC6;
	height: 30px;
	line-height: 1.8;
	text-transform: uppercase;
	padding: 0 0 0 20px;
	margin: 0 auto 12px;
}

@media screen and (min-width: 1024px) {
	.section-newsletter input {
		display: inline-block;
		height: 60px;
		font-size: 16px;
	}	
}

.section-newsletter button {
	padding: 10px 40px;
	border: 1px solid #A7A79B;
	background-color: #A7A79B;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

@media screen and (min-width: 1024px) {
	.section-newsletter button {
		padding: 21px 90px;
		margin: 0 0 0 10px;
		font-size: 16px;
	}
}

@media screen and (min-width: 1024px) {
	.section-newsletter-wrapper {
		width: 80%;
		margin: 0 auto;
	}	
}

.social-links img {
	max-width: 10%;
}

@media screen and (min-width: 1024px) {
	.social-links {
		margin: 90px 0 0;
	}
}

.section-contact-form h1 {
	margin: 50px 0 40px;
}

@media screen and (min-width: 1024px) {
	.section-contact-form h1 {
		margin: 120px 0 100px;
		font-size: 70px;
	}	
}

.section-contact-form-inner {
	padding: 18px 0 24px;
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px dashed #A7A79B;
}

@media screen and (min-width: 1024px) {
	.section-contact-form-inner {
		padding: 18px 0 70px;
	}
}

.section-contact-form input,
.section-contact-form textarea {
	display: block;
	width: 100%;
	text-align: center;
	font-weight: 700;
	margin: 0 auto 12px;
	border: 1px solid #D2CFC6;
}

@media screen and (min-width: 1024px) {
	.section-contact-form input,
	.section-contact-form textarea {
		width: 70%;
	}
}

.section-contact-form input {
	height: 28px;
}

@media screen and (min-width: 1024px) {
	.section-contact-form input {
		height: 60px;
		font-size: 16px;
	}	
}

.section-contact-form textarea {
	height: 180px;
	padding: 10px 0 0;
	font-size: 16px;
}

@media screen and (min-width: 1024px) {
	.section-contact-form textarea {
		height: 300px;
	}
}

.section-contact-form button {
	padding: 10px 42px;
	background-color: #FF5733;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	border-radius: 3px;
	margin: 25px 0 0;
}

@media screen and (min-width: 1024px) {
	.section-contact-form button {
		padding: 22px 80px;
		font-size: 24px;
		margin: 40px 0 0;
	}
}

.section-map {
	padding: 30px 0 0;
	width: 65%;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
	.section-map {
		padding: 60px 0 0;
	}
}

.section-map img {
	border: 1px solid #D2CFC6;
}

/*
7. Stopka
*/
footer {
	padding: 20px 0;
	font-size: 12px;
	text-align: center;
	color: #A7A79B;
	text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
	footer {
		padding: 40px 0;
		font-size: 16px;
	}
}